@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

.box {
    transition: box-shadow 0.5s;
    border-radius: 10px;
}

.box:hover {
    box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}

/* ------------- Nav ----------------- */

.navbar {
    font-size: 18px;
    background: #6c63ff;
    padding-bottom: 15px;
    padding-left: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    width: 100%;
}

#main-nav {
    list-style-type: none;
    display: none;
    flex-direction: column;
    padding-left: 30px;
}

#main-nav li {
    text-align: center;
    margin: 15px auto;
}

.nav-links,
#logo {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
    display: inline-block;
    transition: all 1.5s;
}

#logo:hover,
.nav-links:hover {
    color: rgb(27, 26, 26);
}

#logo {
    display: inline-block;
    font-size: 22px;
    margin-top: 10px;
    margin-left: 20px;
}

#navbar-toggle {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.8);
    font-size: 24px;
}

#navbar-toggle:hover {
    color: rgba(255, 255, 255, 1);
}

/* ------------- Jumbotron ----------------- */

.jumbotron {
    box-sizing: border-box;
    max-width: 850px;
    margin: 100px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.banner img {
    flex-grow: 1;
    width: 100%;
    height: 300px;
}

.banner {
    flex-grow: 1;
}

.zoom {
    transition: transform 0.6s;
}

.zoom:hover {
    -ms-transform: scale(1.2);
    /* IE 9 */
    -webkit-transform: scale(1.2);
    /* Safari 3-8 */
    transform: scale(1.2);
}

.banner-text {
    flex-grow: 1;
    width: 100%;
}

.banner-text h3 {
    font-size: 60px;
    color: #6c63ff;
}

.banner-text h3 span {
    font-size: 50px;
    font-weight: 600;
    color: #2c3e50;
}

/* ------------------ Content ------------------ */

.container {
    box-sizing: border-box;
    margin: 10px auto;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

article.text {
    padding: 40px 0;
    display: flex;
    border-top: 1px solid rgb(243, 243, 243);
}

section {
    padding: 20px;
    margin: 10px;
    border: 1px solid rgb(243, 243, 243);
    box-shadow: 10px 10px 5px rgba(97, 96, 96, 0.267);
}

.header-text {
    font-size: 25px;
    margin-bottom: 13px;
    color: #2c3e50;
}

section p {
    color: #787d86;
    font-size: 15px;
    line-height: 22px;
}

/* ------------------- Data -------------------  */
.data-covid {
    margin: 20px 0;
    padding: 40px 0;
    padding: 25px;
    border-bottom: 1px solid rgb(243, 243, 243);
}

.data-covid h3 {
    padding: 20px 10px;
    color: #2c3e50;
}

.form-data {
    background: rgb(252, 252, 252);
    display: flex;
    border-radius: 5px;
    padding: 10px;
    justify-content: space-evenly;
}

.data {
    border: 1px solid #ccc;
    border-radius: 15px;
    padding: 30px 60px;
    margin: 10px;
    text-align: center;
}

.data h3 {
    font-size: 35px;
    text-align: center;
    color: #eee;
}

.data-content {
    margin-top: 20px;
}

.data-content p {
    color: #2c3e50;
}

.data-confirm {
    background: #ffa502;
}

.data-activecare {
    background: #1e90ff;
}

.data-recovered {
    background: #26de81;
}

.data-deaths {
    background: #ff4757;
}

.data-content .fas {
    color: #f5cd79;
    margin: 10px 0;
}

/* -------------- Tentang ----------- */

.tentang {
    margin: 45px 0;
    text-align: center;
}

.tentang h2 {
    color: #2c3e50;
    padding: 20px;
    border-bottom: 1px solid rgb(243, 243, 243);
    display: inline;
    margin: 10px auto;
}

.btn {
    padding: 12px 24px;
    color: white;
    display: inline-block;
    opacity: 0.8;
    border-radius: 4px;
    text-align: center;
}

.btn:hover {
    opacity: 1;
}
a{
    text-decoration: none;
}
.message {
    padding: 15px 40px;
    background-color: #6c63ff;
    cursor: pointer;
    border-radius: 20px;
    font-weight: 800;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.message:active {
    position: relative;
    top: 7px;
    box-shadow: none;
}

.tombol {
    text-align: center;
}

/* ---------------Author------------ */

.form-profile {
    display: flex;
    margin: 40px 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.profile {
    display: flex;
    flex-direction: column;
    margin: 0 0 60px 0;
    padding: 20px;
    justify-content: space-around;
    background: #fafafa;
    border-radius: 16px;
}

.author {
    display: flex;
    justify-content: space-evenly;
}

.image img {
    width: 100%;
    height: 150px;
    padding: 10px 20px;
}

.dts-banner img {
    width: 100%;
    height: 300px;
}

.pirman,
.rizki {
    box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
    margin: 10px;
    border-radius: 8px;
    padding: 10px;
    color: #787d86;
    background: #fff;
}

.bio {
    text-align: center;
    padding: 10px 0;
}

.text-profile {
    padding: 30px 0;
    color: #2c3e50;
    text-align: center;
}

.icon {
    float: left;
    text-align: center;
    padding-top: 8px;
    
}
.fab{
    margin: 10px;
    color: rgba(255, 255, 255, 0.7);
}

.fa-github:hover{
    color: #24292E;
}   
.fa-facebook:hover{
    color: #0d58fb;
}
.fa-whatsapp:hover{
    color: #25D366;
}

.fa-instagram:hover{
    color: #e4405f;
}
.fa-telegram:hover{
    color: rgb(15, 191, 255);
}
/* ----------- Footer ------------- */

footer {
    padding: 40px;
    text-align: center;
    border: 1px solid rgb(243, 243, 243);
    background: #6c63ff;
    color: rgba(255, 255, 255, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.copyright{
    margin-top: 20px;

}
.update{
    color: rgb(150, 155, 156);
}

/* ------------- Media Query----------------- */

@media screen and (max-width: 768px) {
    .update{
        text-align: center;
    }
    .jumbotron {
        margin-top: 50px;
        flex-direction: column;
        text-align: center;
    }

    .banner {
        padding: 0 15px;
    }

    .banner-text {
        display: none;
    }

    .banner-text h3 {
        font-size: 40px;
    }

    .banner-text h3 span {
        font-size: 30px;
        font-weight: 500;
    }

    article.text {
        padding: 20px 0;
    }

    section p {
        font-size: 13px;
    }

    /* --- */
    .container {
        padding: 0;
    }

    article.text {
        flex-direction: column;
    }

    .header-text {
        font-size: 20px;
        margin-bottom: 13px;
        color: #2c3e50;
    }

    /* --- */
    .form-data {
        flex-direction: column;
    }

    .form-profile {
        flex-direction: column;
        justify-content: center;
        padding: 30px;
    }
    .profile {
        padding: 0;
    }
}

@media screen and (min-width: 768px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;
        height: 70px;
        align-items: center;
    }

    #main-nav {
        display: flex !important;
        margin-right: 30px;
        flex-direction: row;
        justify-content: flex-end;
    }

    #main-nav li {
        margin: 0;
    }

    .nav-links {
        margin-left: 40px;
    }

    #logo {
        margin-top: 0;
    }

    #navbar-toggle {
        display: none;
    }
}

@media screen and (max-width: 900px) {
    .form-data {
        flex-direction: column;
    }
}